body{background-color: rgb(53, 75, 148);} 
.container div{background-color: red; width: 200px; height: 40px; border-radius: 20px;  display: flex;  align-items: center; justify-content: center; gap: 40px; border: solid 2px red;}

div{gap: 40px;}

.container{display: flex; justify-content: space-around; color: white;}
img{margin-top: 200px;}

 iframe{width: 400px; height: 200px; justify-content: space-evenly; margin-top: 200px;} 


.box{display: flex; justify-content: space-between;}

h1{background-color: black; border-radius: 30px; width: 200Px; height: 85px; text-align: center; align-items: center ; color: white; margin-left: 600px; padding-top: 30px;}


.box2 div{background-color: rgb(78, 236, 78); border: solid 30px; width: 400px; height: 90px;border-color: red; border-radius: 40px;}
.box2{display: flex;  justify-content: space-between;}